# Ignore Python cache files
**/__pycache__/

# Ignore virtual environment directory
venv/

# Ignore checkpoints files while keeping the directory structure
checkpoints/*
!checkpoints/.gitkeep

# Ignore logs files while keeping the directory structure
logs/*
!logs/.gitkeep
