accelerate==1.12.0
datasets==4.5.0
grpcio-tools==1.78.0
grpcio==1.78.0
matplotlib==3.10.9
numpy==2.4.2
pandas==3.0.0
setuptools>=77.0.1
tensorboard-data-server==0.7.2
tensorboard==2.20.0
tensorflow==2.20.0
torch-tb-profiler==0.4.3
torch==2.10.0
tqdm==4.67.3
transformers==5.2.0
